
<main>
   
<section id="pc">
<div class="container ">
    <div class="row">
<div class="col-md-3">
    <nav>
        <h4>Categories</h4>
        <ul>
            <li><a routerLink="all">All</a></li> 
            <li><a routerLink="women">Women's Clothing</a></li> 
            <li><a routerLink="man">Men's Fashion</a></li> 
            <li><a routerLink="electronics">Electronics</a></li> 
            <li><a routerLink="headphones">Headphones</a></li> 
            <li><a routerLink="tablet">tablet</a></li> 
            <li><a routerLink="ipods">Ipods</a></li> 
            <li><a routerLink="accesories">Acceesories</a></li> 
        </ul>

       
      <h4>brands</h4>
        <ul>
            <li><a routerLink="apple">Apple</a></li> 
            <li><a routerLink="sam">Samsaung</a></li> 
            <li><a href="nokia">Nokia</a></li> 
            <li><a href="hawawi">hawawi</a></li> 
            <li><a href="#oppo">oppo</a></li> 
            <li><a href="#ibad">ibad</a></li> 
            <li><a href="#realme">realme</a></li> 
           
          
        </ul> 
        
    </nav>
   

</div>
<div class="col-9 ">
  <router-outlet></router-outlet>
  </div>
</div>

</div>

</section>

</main>


    


